
ion-content {
    --ion-background-color: #fff; /* Esto debería hacer el fondo de ion-content blanco */
}
ion-item {
    --background: #fff; // Establece el fondo de los elementos ion-item a blanco
    --color: #000; // Establece el color del texto, si es necesario
    --placeholder-color: #888; // Cambia el color del placeholder si es necesario

    ion-label {
        color: #000; // Establece el color de los ion-label si es necesario
    }
}

ion-input {
    --background: #fff; // Establece el fondo de los elementos ion-input a blanco
    --color: #000; // Establece el color del texto de entrada
    --placeholder-color: #888; // Cambia el color del placeholder si es necesario

    &:focus {
        --border-color: #387ef5; // Cambia el color del borde al enfocar, si es necesario
    }
}


.image-container {
    display: flex;
    justify-content: center; // Centra horizontalmente
    align-items: center; // Centra verticalmente
    height: 20%; // Asegura que ocupe toda la altura disponible
}

img {
    max-width: 100%; // Asegura que la imagen no sea más ancha que el contenedor
    height: auto;
}

ion-label {
    color: #000000; // Cambia el color de la etiqueta a negro (ajustado para contraste)
}

ion-button {
    --background: #ff0000; /* Color de fondo rojo */
    --color: #ffffff; /* Color del texto blanco */
    --ripple-color: #ffffff; /* Color del efecto de onda para interacciones táctiles */

    &:hover {
        --background-hover: #e60000; /* Color de fondo al pasar el ratón */
    }

    &:active {
        --background-activated: #cc0000; /* Color de fondo al hacer clic o tocar */
    }
}

.google-button {
    --background: transparent;
    --color: #737373;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    text-transform: none;
    height: 44px;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    margin-top: 20px; // Ajusta según sea necesario

    ion-icon {
        color: #b82812;
        margin-right: 8px; // Ajusta según sea necesario
    }
}

.or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    .line {
        flex: 1;
        height: 1px;
        background-color: #e5e5e5;
    }

    .or-text {
        margin: 0 10px;
        color: #737373;
    }
}

// Aquí se añaden estilos para el separador que dice "O con"
.google-login-separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;

  .line {
    flex: 1;
    height: 1px;
    background-color: #e0e0e0;
  }

  .text {
    margin: 0 10px;
    color: #8f8f8f;
  }
}
