<!-- ... login.page.html  ... -->
<ion-content class="ion-padding">
  <div class="image-container">
    <img src="assets/icon/Logo Powergym.png" alt="Logo Powergym" style="max-width: 100%; height: auto;">
  </div>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <h1>Bienvenido,</h1>
        <h3>Inicia sesión para continuar!</h3>
        <form [formGroup]="form" novalidate (ngSubmit)="login()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" placeholder="Ingresa tu email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password" placeholder="Ingresa tu contraseña"></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block">Iniciar sesión</ion-button>
          <div class="google-login-separator">
            <div class="line"></div>
            <div class="text">O con</div>
            <div class="line"></div>
          </div>
          <ion-button expand="block" (click)="signInWithGoogle()">
            <ion-icon slot="start" name="logo-google"></ion-icon>Iniciar sesión con Google
          </ion-button>
        </form>
        <p>Soy nuevo, <a routerLink="/register">Crear cuenta</a></p>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
<ion-footer [translucent]="true" >
  <ion-toolbar>
    <ion-title> &#169; PowerGym 2023  &#174;</ion-title>
  </ion-toolbar>
</ion-footer>
