<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <div class="image-container">
    <img src="assets/icon/Logo Powergym.png" alt="Logo Powergym" style="max-width: 100%; height: auto;">
  </div>
  <form [formGroup]="form" novalidate (ngSubmit)="login()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <!-- Botón para registro -->
        <ion-button routerLink="/register" expand="block" fill="clear">
          Registrarse
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Separador -->
    <div class="google-login-separator">
      <div class="line"></div>
      <div class="text">O con</div>
      <div class="line"></div>
    </div>

    <!-- Botón de inicio de sesión con Google -->
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="light" (click)="signInWithGoogle()">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Iniciar sesión con Google
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
