<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <!-- Botón para iniciar el escaneo de QR -->
    <ion-button expand="full" (click)="startScan()">Escanear QR</ion-button>
    <!-- Botón para detener el escaneo de QR -->
    <ion-button expand="full" (click)="stopScan()" color="medium">Detener Escaneo</ion-button>
    <!-- Aquí puedes agregar un contenedor para mostrar la imagen escaneada o el resultado del escaneo -->
    <div *ngIf="scannedData">
      <h2>Resultado del Escaneo:</h2>
      <p>{{ scannedData }}</p>
    </div>
  </div>
</ion-content>