<app-header [showMenu]="true" title="Máquinas"></app-header>
<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
    <ion-toolbar>   
      <ion-title size="large">Máquinas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  

  <ion-searchbar showCancelButton cancelButtonText="Cancelar" (ionInput)="filterMachines($event)" animated="true" placeholder="Buscar máquinas..."></ion-searchbar>



  <!-- <ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center" *ngIf="!loading && machines.length">
    <div>
      <h5>{{machines.length}}</h5>
      <p>Máquinas</p>
    </div>
    <div>
      <h5>{{ getProfits() | currency: 'USD'}}</h5>
      <p>Activos Totales</p>
    </div>
  </ion-card> -->

  <!-- ====== Máquinas ====== -->
  <ion-list *ngIf="!loading && machines.length > 0">
    <div class="glass-content">
      <ion-grid class="glass-content">
        <ion-row>
          <ion-col size-lg="4" size-md="6" size-sm="12" size="12" *ngFor="let m of machines">
            <ion-card class="custom-card">
              <ion-img [src]="m.image" class="custom-img"></ion-img>
              <ion-card-header>
                <ion-card-title>{{m.name}}</ion-card-title>
                <ion-card-subtitle>{{m.id}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div class="data">
                  <strong>Valor:</strong> {{m.price | currency: 'USD'}} <br>
                  <strong>Cantidad:</strong> {{m.soldUnits}}
                </div>
              </ion-card-content>
              <ion-row class="ion-align-items-center">
                <!-- Botones de editar y eliminar -->
                <ion-col size="6">
                  <ion-button (click)="addUpdateMachine(m)" fill="clear" color="warning" expand="full">
                    <ion-icon name="create-outline" slot="start"></ion-icon>
                    Editar
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button (click)="confirmDeleteMachine(m)" fill="clear" color="danger" expand="full">
                    <ion-icon name="trash-outline" slot="start"></ion-icon>
                    Eliminar
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>
  

  


<!-- ====== Loading ====== -->
<ion-list *ngIf="loading">
  <div class="glass-content">
    <ion-grid class="glass-content">
      <ion-row>
        <ion-col *ngFor="let p of [1,1,1,1,1,1,1,1]" size-lg="4" size-md="6" size-sm="12" size="12">
          <ion-card class="custom-card">
            <ion-skeleton-text animated style="height: 200px;"></ion-skeleton-text>
            <img *ngIf="!loading" />
            <ion-card-header>
              <ion-skeleton-text animated style="width: 80%; height: 20px;"></ion-skeleton-text>
              <ion-card-title></ion-card-title>
              <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="data">
                <ion-skeleton-text animated style="width: 50%; height: 16px;"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 30%; height: 16px;"></ion-skeleton-text>
              </div>
            </ion-card-content>
            <ion-row class="ion-align-items-center">
              <ion-col size="6">
                <ion-skeleton-text animated style="width: 50%; height: 32px;"></ion-skeleton-text>
              </ion-col>
              <ion-col size="6">
                <ion-skeleton-text animated style="width: 50%; height: 32px;"></ion-skeleton-text>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-list>


   <!-- ====== Sin Máquinas disponibles ====== -->
  <div *ngIf="!loading && !machines.length" class="empty">
    <ion-icon name="barbell-outline"></ion-icon>
    <h3>No hay Máquinas disponibles</h3>
  </div>

  <!-- ====== Nueva Máquina ====== -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateMachine()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


<app-tabs></app-tabs>

