<app-header [isModal]="true" [title]="machine ? 'Actualizar Máquina' : 'Agregar Máquina'"></app-header>
<ion-content>


    <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">
  
       <!-- ==== Si existe una imagen === -->
        <ion-avatar *ngIf="form.value.image"> 
            <img [src]="form.value.image" />
        </ion-avatar>

        <!-- ==== Si no existe una imagen === -->
        <ion-icon class="image-icon" *ngIf="!form.value.image" name="image-outline"></ion-icon>


        <br>
        <!-- ==== Tomar/Seleccionar una imagen === -->
        <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
            Tomar/Seleccionar
        </ion-button>

           <!--======== Name ========-->
        <app-custom-input
        autocomplete="name" 
         [control]="form.controls.name" 
         type="text" 
         label="Nombre"
         ></app-custom-input>
       
         <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
            <div *ngIf="form.controls.name.errors?.['required']">Este campo es requerido</div>
            <div *ngIf="form.controls.name.errors?.['minlenght']">El nombre debe tener al menos 4 caracteres</div>
         </div>

         <!--======== piso ========-->
        <app-custom-input
         [control]="form.controls.piso" 
         type="number" 
         label="Piso"
         (ionInput)="setNumberInputs()"
         ></app-custom-input>
       
         <div class="validators" *ngIf="form.controls.piso.errors && form.controls.piso.touched">
            <div *ngIf="form.controls.piso.errors?.['required']">Este campo es requerido</div>
            <div *ngIf="form.controls.piso.errors?.['min']">El piso mínimo debe ser 0</div>
            <div *ngIf="form.controls.piso.errors?.['max']">El piso mmáximo debe ser 3</div>
         </div>

           <!--======== cantidad maquinas  ========-->
           
        <app-custom-input
        [control]="form.controls.cantMaquina" 
        type="number" 
        label="Cantidad Maquinas por piso"
        (ionInput)="setNumberInputs()"
        ></app-custom-input>
      
        <div class="validators" *ngIf="form.controls.cantMaquina.errors && form.controls.cantMaquina.touched">
           <div *ngIf="form.controls.cantMaquina.errors?.['required']">Este campo es requerido</div>
           <div *ngIf="form.controls.cantMaquina.errors?.['min']">La cantidad mínima debe ser 0</div>
           <div *ngIf="form.controls.piso.errors?.['max']">El piso mmáximo debe ser 5</div>
        </div>
       <!--======== Tipo de maquina   ========-->

       <app-custom-input
       [control]="form.controls.tipoMaquina"
       type="text"
       label="Tipo de maquina "
       ></app-custom-input>
 
       <div class="validators" *ngIf="form.controls.tipoMaquina.errors && form.controls.tipoMaquina.touched">
       <div *ngIf="form.controls.tipoMaquina.errors?.['required']">Este campo es requerido</div>
       <div *ngIf="form.controls.tipoMaquina.errors?.['minlength']">Las tipoMaquina deben tener al menos 4 caracteres</div>
       </div>
       


      <!--======== Musculo ========-->

      <app-custom-input
      [control]="form.controls.musculo"
      type="text"
      label="Musculo"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.musculo.errors && form.controls.musculo.touched">
      <div *ngIf="form.controls.musculo.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.musculo.errors?.['minlength']">Las Musculo deben tener al menos 4 caracteres</div>
      </div>
      

      <!--======== Instrucciones ========-->
      <app-custom-input
      [control]="form.controls.instrucciones"
      type="text"
      label="Instrucciones"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.instrucciones.errors && form.controls.instrucciones.touched">
      <div *ngIf="form.controls.instrucciones.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.instrucciones.errors?.['minlength']">Las instrucciones deben tener al menos 4 caracteres</div>
      </div>
      
      <!--======== Precauciones ========-->


      <app-custom-input
      [control]="form.controls.precauciones"
      type="text"
      label="Precauciones"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.precauciones.errors && form.controls.precauciones.touched">
      <div *ngIf="form.controls.precauciones.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.precauciones.errors?.['minlength']">Las precauciones deben tener al menos 4 caracteres</div>
      </div>
      






<!--======== Boton ========-->
  
           <ion-button  mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
            {{machine ? 'Actualizar Máquina' : 'Agregar Máquina'}}
            <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
           </ion-button>
           
         
             </form>

</ion-content>