/* profile.page.scss */
.profile-card {
  ion-avatar {
    --size: 100px; // Ajusta el tamaño según tu diseño
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  p {
    font-size: 1em;
    color: #666;
  }
}
