.profile-header {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  background: #e9e2e2;
  box-shadow: 0 4px 6px rgba(247, 247, 247, 0.897);

  ion-avatar {
    margin: 20px auto;
    // Asegúrate de que ion-avatar tenga un tamaño específico si es necesario
    // width: 100px;
    // height: 100px;
  }

  h2 {
    margin-top: 8px;
    color: #efe7e7; // o cualquier color que desees para el nombre
    font-size: 1.2rem; // Ajusta el tamaño de fuente según tu diseño
  }

  p {
    color: var(--ion-color-medium); // Asegúrate de que esto esté definido en tus variables globales de Ionic
    font-size: 1rem; // Ajusta el tamaño de fuente según tu diseño
  }

  .edit-button {
    --border-radius: 50px;
    margin-top: 8px;
  }
}

ion-list {
  margin-top: 20px;

  ion-item {
    --padding-start: 0;
    --min-height: 50px;
    --border-color: var(--ion-color-medium-tint);
    --background: #0f0c0c; // Fondo blanco para los items
    --border-radius: 20px; // Bordes redondeados
    --ion-item-padding: 8px; // Espaciado interno de los items
    margin: 8px 20px; // Margen alrededor de los items
    box-shadow: 0 2px 4px rgba(254, 251, 251, 0.973); // Sombra suave para cada item

    ion-icon {
      margin-right: 8px;
      --color: var(--ion-color-primary); // Asegúrate de que esto esté definido en tus variables globales de Ionic
      --size: 24px; // Ajusta el tamaño del icono según tu diseño
    }

    &.logout-item {
      --color: #FF0000; // o cualquier otro color que desees para el item de logout
    }
  }
}
