//register.page.scss
ion-item {
    --background: #fff; // Establece el fondo de los elementos ion-item a blanco
    --color: #000; // Establece el color del texto, si es necesario
    --placeholder-color: #888; // Cambia el color del placeholder si es necesario

    ion-label {
        color: #000; // Establece el color de los ion-label si es necesario
    }
}

ion-input {
    --background: #fff; // Establece el fondo de los elementos ion-input a blanco
    --color: #000; // Establece el color del texto de entrada
    --placeholder-color: #888; // Cambia el color del placeholder si es necesario

    &:focus {
        --border-color: #387ef5; // Cambia el color del borde al enfocar, si es necesario
    }
}


.image-container {
    display: flex;
    justify-content: center; // Centra horizontalmente
    align-items: center; // Centra verticalmente
    height: 20%; // Asegura que ocupe toda la altura disponible
}

img {
    max-width: 100%; // Asegura que la imagen no sea más ancha que el contenedor
    height: auto;
}

ion-label {
    color: #000000; // Cambia el color de la etiqueta a negro (ajustado para contraste)
}

ion-button {
    --background: #ff0000; /* Color de fondo rojo */
    --color: #ffffff; /* Color del texto blanco */
    --ripple-color: #ffffff; /* Color del efecto de onda para interacciones táctiles */

    &:hover {
        --background-hover: #e60000; /* Color de fondo al pasar el ratón */
    }

    &:active {
        --background-activated: #cc0000; /* Color de fondo al hacer clic o tocar */
    }
}

.google-button {
    --background: transparent;
    --color: #737373;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    text-transform: none;
    height: 44px;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    margin-top: 20px; // Ajusta según sea necesario

    ion-icon {
        color: #b82812;
        margin-right: 8px; // Ajusta según sea necesario
    }
}

.or-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

    .line {
        flex: 1;
        height: 1px;
        background-color: #e5e5e5;
    }

    .or-text {
        margin: 0 10px;
        color: #737373;
    }
}

// Aquí se añaden estilos para el separador que dice "O con"
.google-login-separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;

  .line {
    flex: 1;
    height: 1px;
    background-color: #e0e0e0;
  }

  .text {
    margin: 0 10px;
    color: #8f8f8f;
  }
}
ion-datetime {
    ion-datetime {
  --color: #000; // Cambia el color del texto a negro
  --padding-start: 0; // Reduce el padding si es necesario
  --padding-end: 0; // Reduce el padding si es necesario
  --placeholder-opacity: 0.8; // Ajusta la opacidad del placeholder
  --placeholder-color: #fff6f6; // Cambia el color del placeholder si es necesario
  --text-color: #000; // Cambia el color del texto si es necesario
  --background: #030303; // Establece el fondo a blanco si es necesario
    }
  &::part(datetime-text) {
    // Ajusta el estilo del texto dentro de ion-datetime si es necesario
    font-size: 1rem; // Ajusta el tamaño de la fuente
    color: #000; // Asegúrate de que el texto sea legible
  }
  
  &::part(placeholder) {
    // Ajusta el estilo del placeholder dentro de ion-datetime si es necesario
    font-style: italic; // Por ejemplo, para hacer el texto del placeholder en cursiva
  }
  &::part(button) {
    color: #000; // Establece el color del texto de los botones a negro
  }
}

// Si necesitas ajustes adicionales para el picker en sí que aparece al clicar en ion-datetime
ion-picker {
  // Aquí puedes añadir estilos para el picker si es necesario
}

// Si encuentras que necesitas ajustar el espacio alrededor de ion-datetime para evitar la superposición
.custom-datetime-container {
  margin-top: 20px; // Añade un espacio adicional en la parte superior si es necesario
  margin-bottom: 10px; // Añade un espacio adicional en la parte inferior si es necesario
}